<footer>
    <div class="footer-container container">
        <div class="info">
            <img class="logo-footer" src="{{ site.baseurl }}/resources/img/logo_footer_sized.png" alt="Footer logo">
            <span class="what-is">
                I offer relaxation technique classes by hypnosis to women and their birth partner from 36 weeks gestation to help manage any pain and anxiety during childbirth. 
            </span>
            <a class="benefits-btn" href="">See Your Benefits</a>
        </div>
        <div class="contact">
            <div class="lets-connect">
                <span class="connect"><p>Let's connect</p></span>
                <a href="mailto:tracey@hypnobirthingmind.co.uk" class="email">
                    <img class="email-icon" src="{{ site.baseurl }}/resources/svg/email_footer.svg" alt="Email icon">
                    <span class="email-info">tracey@hypnobirthingmind.co.uk</span>
                </a>
                <span class="phone">
                    <img class="phone-icon" src="{{ site.baseurl }}/resources/svg/phone_footer.svg" alt="Phone icon">
                    <span class="phone-info">07989 552112</span>
                </span>
            </div>
            <div class="follow-us">
                <span class="follow"><p>Follow us</p></span>
                <div class="follow-row">
                    <a class="facebook" href="https://www.facebook.com/Hypnobirthingmind/">
                        <img class="facebook-icon" src="{{ site.baseurl }}/resources/svg/fb_footer.svg" alt="Facebook icon">
                        <span class="facebook-info">Facebook</span>
                    </a>
                    <a class="twitter" href="#">
                        <img class="twitter-icon" src="{{ site.baseurl }}/resources/svg/tw_footer.svg" alt="Twitter icon">
                        <span class="twitter-info">Twitter</span>
                    </a>
                    <a class="instagram" href="https://www.instagram.com/hypnobirthingmind/">
                        <img class="instagram-icon" src="{{ site.baseurl }}/resources/svg/ig_footer.svg" alt="Instagram icon">
                        <span class="instagram-info">Instagram</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="footer-nav">
    <div class="footer-nav-container container">
    </div>
</div>
