<footer>
    <div class="footer-container container">
        <div class="info">
            <img class="logo-footer" src="{{ site.baseurl }}/resources/img/logo_footer_sized.png" alt="Footer logo">
            <span class="what-is">
                I offer relaxation technique classes by hypnosis to women and their birth partner from 36 weeks gestation to help manage any pain and anxiety during childbirth. 
            </span>
            <a class="benefits-btn" href="">See Your Benefits</a>
        </div>
        <div class="contact">
            <strong>Let's connect</strong>
        </div>
        <div class="follow">Box #3</div>
    </div>
</footer>

<div class="footer-nav">
    <div class="footer-nav-container container">
    </div>
</div>
