$topHeader-color: #e8b1fc;

$header-bgColor: #ffffff;

$navBar-color: #7f7f7f; 
$navBar-colorPicked: #c8a2c8 ; 

$container-width: 70%;

html {
    background-color: #ffffff;
    color: #000000;

    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;

    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.container {
    width: $container-width;
    margin: 0 auto;
}

.top-header {
    height: 30px;
    width: 100%;

    background-color: $topHeader-color;
}

.container-topHeader {
    display: flex;
    justify-content: space-between;

    height: inherit;

    color: #ffffff;

    .container-info {
        display: flex;
        align-items: center;

        .phone {
            .phone-info {
                display: inline-block;

                font-size: 75%;
            }
        }

        .email {
            display: flex;

            margin-left: 15px;

            .email-icon {
                margin-top: 1px;
            }

            .email-info:link, .email-info:visited {
                color: #ffffff;

                font-size: 78%;
            }
        }
    }

    .container-icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .fb, .tw, .ig {
            color: #ffffff;
            
            margin-left: 10px;
        }
    }
}

header {
    display: flex;
    justify-content: space-between;

    padding: 20px 0px;

    background-color: $header-bgColor;

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                a:visited, a:link {
                    padding: 10px 0px 10px 20px;
                    color: $navBar-color;

                    transition: color 0.2s;
                }


                .picked-option:visited, .picked-option:link,
                a:hover, a:active {
                    color: $navBar-colorPicked;
                }
                
                .consequence-dropdown {
                    display: flex;
                    flex-direction: column;
                    opacity: 1;

                    padding: 0;

                    position: absolute;
                }
            }
        }
    }
}

@media only screen and (max-width: 682px) {
    .container-topHeader {
        width: 90%;
    }
}

@media only screen and (max-width: 8000px) {
    .phone {
        display: flex;
    }
}

@media only screen and (max-width: 533px) {
    .phone {
        display: none;
    }

    .email-info {
        display: none;
    }

    .container-topHeader {
        justify-content: center;
    }
}
