footer {
    display: flex;

    background-color: $footer-bgColor;

    box-shadow: 0px -10px 5px $footer-bgColor, 0px 3px 10px #919191;

    .footer-container {
        display: flex;
        margin: 20px auto;

        .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo-footer {
                margin: 10px 20px 10px 0px;

                img {
                    align-self: center;
                }
            }

            .what-is {
                color: $greyColor;
                margin: 10px 0;
                padding-right: 10px;
            }

            .benefits-btn {
                display: block;
                margin: 10px 0 20px 0;
                color: $greyColor;
                border: 2px solid $topHeader-color;
                border-radius: 10px;
                padding: 5px 10px;
                box-shadow: 0px 7px 0px $topHeader-color;
                position: relative;
                top: 0;
                transition: all 0.3s;

                &:hover {
                    box-shadow: 0px 0px 0px $topHeader-color;
                    top: 7px;
                    background-color: $topHeader-color;
                }
            }
        }

        .contact {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-left: 2px solid rgba(0, 0, 0, .1);

            .lets-connect {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin-top: 20px;
                color: $greyColor;

                .connect {
                    border-bottom: 1px solid $greyColor;
                    margin-bottom: 10px;
                }

                .connect-row {
                    display: flex;
                    flex-direction: column;

                    a {
                        display: flex;
                        color: $greyColor;

                        img {
                            height: 18px;
                            padding-right: 4px;
                            padding-top: 4px;
                        }

                        margin: 0 0 5px 0;
                    }

                    span {
                        display: flex;
                        margin: 0;

                        img {
                            height: 18px;
                            padding-top: 4px;
                            padding-right: 4px;
                        }
                    }
                }
            }

            .follow-us {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 20px;
                color: $greyColor;

                .follow {
                    display: inline-block;
                    border-bottom: 1px solid $greyColor;
                    margin-bottom: 10px;
                }

                .follow-row {
                    display: flex;
                    justify-content: space-between;
                    width: 60%;
                    flex-wrap: wrap;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        color: $greyColor;
                        
                        img {
                            height: 18px;
                            padding-right: 4px;
                        }

                        span {
                            padding-top: 4px;
                        }
                    }
                }
            }
        }
    }
}
