$topHeader-color: #e8b1fc;

$header-bgColor: #ffffff;

$navBar-color: #7f7f7f; 
$navBar-colorPicked: #c8a2c8 ; 

$container-width: 70%;

html {
    background-color: #ffffff;
    color: #000000;

    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;

    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.container {
    width: $container-width;
    margin: 0 auto;
}

.list-mobile {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.list-dropdown {
    display: none;
}

label {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}

@import "top_header";
@import "header";
@import "media_queries";
@import "list_mobile";
