@media only screen and (max-width: 8000px) {
    .phone {
        display: flex;
    }

    .menu-btn {
        display: none;
    }
}

@media only screen and (max-width: 1358px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 1056px) {
    header nav ul {
        display: none;
    }

    .menu-btn {
        display: flex;
    }
}

@media only screen and (max-width: 682px) {
    .container-topHeader {
        width: 90%;
    }
}

@media only screen and (max-width: 533px) {
    .phone, .menu-btn, .email-info {
        display: none;
    }

    .email {
        margin: 0;
    }

    .email-icon, .fb, .ig, .tw {
        margin: 0px 6px;
        padding: 0;
    }

    .container-topHeader {
        margin: 0;
        width: 100%;
    }

    header {
        flex-direction: column;
    }

    .logo {
        margin-top: 10px;
    }

    .container-whole-info {
        justify-content: center;
    }

    .top-header {
        height: 50px;
    }

    .mobile-button-icon {
        display: flex;
    }
}

@media only screen and (min-width: 533px) {
    .email {
        margin-left: 15px;
    }

    .fb, .tw, .ig {
        margin-left: 10px;
    }

    .container-whole-info {
        justify-content: space-between;
    }

    .mobile-button-icon {
        display: none;
    }
}
