html {
  background-color: #ffffff;
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

body {
  margin: 0; }

a {
  text-decoration: none;
  display: inline-block; }

ul {
  list-style: none;
  padding: 0; }

.container {
  width: 70%;
  margin: 0 auto; }

svg {
  display: block; }

.picked-option:visited, .picked-option:link {
  color: #c8a2c8 !important; }

.indent {
  text-indent: 40px; }

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -50px; }
  100% {
    opacity: 1;
    margin-left: 0px; } }
.top-header {
  height: 30px;
  width: 100%;
  background-color: #e8b1fc;
  position: fixed;
  box-shadow: 0px 3px 10px #919191; }

.container-topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  color: #ffffff; }
  .container-topHeader .mobile-btn {
    align-items: center;
    margin-right: 5px; }
    .container-topHeader .mobile-btn .mobile-btn-icon {
      padding: 4px;
      height: 22px; }
  .container-topHeader .mobile-btn:hover {
    cursor: pointer; }
  .container-topHeader label:hover {
    cursor: pointer; }
  .container-topHeader .container-whole-info {
    display: flex;
    align-items: center; }
    .container-topHeader .container-whole-info .container-info {
      display: flex;
      align-items: center; }
      .container-topHeader .container-whole-info .container-info .phone .phone-icon {
        margin-top: 6px;
        height: 16px; }
      .container-topHeader .container-whole-info .container-info .phone .phone-info {
        display: inline-block;
        font-size: 75%;
        margin-top: 4px; }
      .container-topHeader .container-whole-info .container-info .email {
        display: flex;
        margin-top: 4px; }
        .container-topHeader .container-whole-info .container-info .email .email-icon {
          height: 16px; }
        .container-topHeader .container-whole-info .container-info .email .email-info:link, .container-topHeader .container-whole-info .container-info .email .email-info:visited {
          color: #ffffff;
          margin-top: 2px;
          font-size: 78%; }
    .container-topHeader .container-whole-info .container-icons {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .container-topHeader .container-whole-info .container-icons .fb, .container-topHeader .container-whole-info .container-icons .tw, .container-topHeader .container-whole-info .container-icons .ig {
        display: block;
        height: 16px; }

#myMenuMobileCloseButton {
  height: 30px;
  display: none;
  padding: 0; }

header {
  border-bottom: 5px solid #e8b1fc; }

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px 15px 0px;
  background-color: #ffffff; }
  .main-header .logo {
    display: flex;
    justify-content: center; }
    .main-header .logo img {
      width: 200px;
      height: auto;
      align-self: center; }
  .main-header nav {
    display: flex;
    align-items: center; }
    .main-header nav .menu-btn {
      width: 90px;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30px;
      margin: 20px 0px;
      color: #c8a2c8;
      border-radius: 5px;
      transition: background-color 0.2s, border-bottom 0.2s;
      border-bottom: 1px solid transparent; }
      .main-header nav .menu-btn .menu {
        display: block; }
      .main-header nav .menu-btn .menu-open-icon {
        height: 16px; }
    .main-header nav .menu-btn:hover {
      background-color: rgba(242, 210, 253, 0.8);
      border-bottom: 1px solid #c8a2c8;
      cursor: pointer; }
    .main-header nav ul {
      display: flex;
      flex-wrap: wrap; }
      .main-header nav ul li {
        background-color: #ffffff; }
        .main-header nav ul li ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          padding: 0; }
          .main-header nav ul li ul li {
            display: none;
            border-left: 2px solid rgba(0, 0, 0, 0.1);
            border-right: 2px solid rgba(0, 0, 0, 0.1); }
          .main-header nav ul li ul li:last-child {
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            border-radius: 0px 0px 10px 10px; }
        .main-header nav ul li a:visited, .main-header nav ul li a:link {
          padding: 10px 20px;
          color: #7f7f7f;
          transition: color 0.4s; }
        .main-header nav ul li a:hover, .main-header nav ul li a:active {
          color: #c8a2c8; }
      .main-header nav ul li:hover ul li {
        display: block; }

#mySidenav {
  background-color: #fee9e1;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -208px;
  overflow-x: hidden;
  margin: 0;
  transition: top 0.5s ease, box-shadow 0.5s;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  box-shadow: 0px 3px 10px transparent; }
  #mySidenav li a, #mySidenav li .dropdown-btn {
    display: block;
    padding: 8px 32px;
    color: #7f7f7f;
    transition: color 0.4s; }
  #mySidenav li .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 32px;
    color: #7f7f7f;
    transition: color 0.4s; }
    #mySidenav li .dropdown-btn .collapse-icon {
      transform: rotate(-180deg);
      transition: 0.2s; }
  #mySidenav li a:hover, #mySidenav li .dropdown-btn:hover {
    color: #c8a2c8;
    cursor: pointer; }
  #mySidenav li .dropdown-list {
    background-color: #fdddd1;
    height: 0;
    overflow: hidden; }

#myMenuCloseButton {
  position: absolute;
  top: 30px;
  right: 0;
  margin: 10px;
  color: #7f7f7f;
  transition: color 0.2s; }

#myMenuCloseButton:hover {
  cursor: pointer;
  color: #c8a2c8; }

.main-message {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #f6e2fe url(css-images/baby_belly.jpg) center center no-repeat;
  background-size: cover;
  border-bottom: 5px solid #e8b1fc;
  display: flex;
  flex: 0 0 350px;
  overflow: hidden;
  resize: none;
  align-items: center;
  justify-content: center; }
  .main-message .message {
    font-size: 2em;
    font-weight: 100;
    color: #ededed;
    border: 2px solid #ffffff;
    border-radius: 100px;
    padding: 40px 70px;
    white-space: nowrap; }

footer {
  display: flex;
  background-color: #f6e2fe;
  box-shadow: 0px -10px 5px #f6e2fe, 0px 3px 10px #919191; }
  footer .footer-container {
    display: flex;
    margin: 20px auto; }
    footer .footer-container .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .footer-container .info .logo-footer {
        margin: 10px 20px 10px 0px; }
        footer .footer-container .info .logo-footer img {
          align-self: center; }
      footer .footer-container .info .what-is {
        color: rgba(0, 0, 0, 0.6);
        margin: 10px 0;
        padding-right: 10px; }
      footer .footer-container .info .benefits-btn {
        display: block;
        margin: 10px 0 20px 0;
        color: rgba(0, 0, 0, 0.6);
        border: 2px solid #e8b1fc;
        border-radius: 10px;
        padding: 5px 10px;
        box-shadow: 0px 7px 0px #e8b1fc;
        position: relative;
        top: 0;
        transition: all 0.3s; }
        footer .footer-container .info .benefits-btn:hover {
          box-shadow: 0px 0px 0px #e8b1fc;
          top: 7px;
          background-color: #e8b1fc; }
    footer .footer-container .contact {
      flex: 1;
      display: flex;
      flex-direction: column;
      border-left: 2px solid rgba(0, 0, 0, 0.1); }
      footer .footer-container .contact .lets-connect {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        color: rgba(0, 0, 0, 0.6); }
        footer .footer-container .contact .lets-connect .connect {
          border-bottom: 1px solid rgba(0, 0, 0, 0.6);
          margin-bottom: 10px; }
        footer .footer-container .contact .lets-connect .connect-row {
          display: flex;
          flex-direction: column; }
          footer .footer-container .contact .lets-connect .connect-row a {
            display: flex;
            color: rgba(0, 0, 0, 0.6);
            margin: 0 0 5px 0; }
            footer .footer-container .contact .lets-connect .connect-row a img {
              height: 18px;
              padding-right: 4px;
              padding-top: 4px; }
          footer .footer-container .contact .lets-connect .connect-row span {
            display: flex;
            margin: 0; }
            footer .footer-container .contact .lets-connect .connect-row span img {
              height: 18px;
              padding-top: 4px;
              padding-right: 4px; }
      footer .footer-container .contact .follow-us {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.6); }
        footer .footer-container .contact .follow-us .follow {
          display: inline-block;
          border-bottom: 1px solid rgba(0, 0, 0, 0.6);
          margin-bottom: 10px; }
        footer .footer-container .contact .follow-us .follow-row {
          display: flex;
          justify-content: space-between;
          width: 60%;
          flex-wrap: wrap; }
          footer .footer-container .contact .follow-us .follow-row a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(0, 0, 0, 0.6); }
            footer .footer-container .contact .follow-us .follow-row a img {
              height: 18px;
              padding-right: 4px; }
            footer .footer-container .contact .follow-us .follow-row a span {
              padding-top: 4px; }

.terms {
  width: 50%;
  margin: 0 auto; }
  .terms .terms-of-service-title {
    font-size: 1.9em;
    font-weight: normal;
    text-align: center;
    margin-top: 0px; }
  .terms details {
    margin: 15px 0px;
    overflow: hidden; }
    .terms details .collapser {
      display: block;
      background-color: #f6e2fe;
      padding: 5px 20px;
      border-radius: 10px; }
    .terms details .collapser:after {
      content: "\02795";
      font-size: 0.7em;
      float: right;
      margin-left: 5px;
      margin-top: 5px; }
    .terms details .collapser::-webkit-details-marker {
      display: none; }
    .terms details .active:after {
      content: "\2796"; }
    .terms details .collapser ~ p {
      display: block; }
    .terms details .collapser:hover {
      cursor: pointer;
      text-decoration: underline; }
    .terms details .content {
      margin: 10px 0px; }
  .terms details[open] .collapser ~ .content {
    animation: sweep 0.5s ease; }

body {
  height: 100vh;
  display: flex;
  flex-direction: column; }

main {
  flex: 1;
  margin: 40px auto !important; }

.top-header {
  z-index: 100; }

footer {
  z-index: 10; }

#mySidenav {
  z-index: 80; }

.dropdown-list {
  z-index: 90; }

/* Max width */
@media only screen and (max-width: 8000px) {
  .phone {
    display: flex; }

  .menu-btn {
    display: none; } }
@media only screen and (max-width: 1548px) {
  .container {
    width: 90%; } }
@media only screen and (max-width: 1272px) {
  .follow-row {
    flex-direction: column; }

  .follow-us {
    margin: 0 !important; }

  .lets-connect {
    margin: 0 0 10px 0 !important;
    padding-top: 10px; }

  .phone {
    margin-left: 16px; }

  .logo-footer img {
    height: 40px; }

  .benefits-btn {
    transform: scale(0.8); }

  footer {
    font-size: 0.9em; }

  .footer-container {
    margin-top: 0px !important; } }
@media only screen and (max-width: 1330px) {
  .terms {
    width: 80%; } }
@media only screen and (max-width: 1056px) {
  .main-header nav ul {
    display: none; }

  .menu-btn {
    display: flex; } }
@media only screen and (max-width: 946px) {
  .message {
    transform: scale(0.7); } }
@media only screen and (max-width: 892px) {
  .footer-container {
    flex-direction: column; }

  .contact {
    border-left: none !important; }

  .follow-row {
    flex-direction: row; }

  .lets-connect {
    flex-direction: row;
    border-top: 2px solid rgba(0, 0, 0, 0.1); } }
@media only screen and (max-width: 682px) {
  .container-topHeader {
    width: 90%; }

  .message {
    max-width: 300px;
    min-width: 276px;
    white-space: normal !important; } }
@media only screen and (max-width: 533px) {
  .terms-of-service-title {
    font-size: 1.5em !important; } }
@media only screen and (max-width: 533px) {
  .info {
    display: none !important; }

  .phone, .menu-btn, .email-info {
    display: none; }

  .email {
    margin: 0; }

  .email-icon, .fb, .ig, .tw {
    margin: 0px 6px;
    padding: 0;
    height: 20px; }

  .container-topHeader {
    margin: 0;
    width: 100%; }

  .main-header {
    flex-direction: column; }

  .logo {
    margin-top: 10px; }

  .container-whole-info {
    justify-content: center; }

  .top-header {
    height: 35px; }

  .mobile-btn-icon {
    display: flex; }

  #myMenuCloseButton {
    display: none; }

  .lets-connect {
    border: none; }

  .footer-email-icon {
    margin: 0;
    padding-top: 4px; }

  .follow-row {
    flex-direction: column; } }
@media only screen and (max-width: 344px) {
  .terms-of-service-title {
    font-size: 1.3em !important; } }
/* Min width */
@media only screen and (min-width: 533px) {
  .email {
    margin-left: 15px; }

  .fb, .tw, .ig {
    margin-left: 10px; }

  .container-whole-info {
    justify-content: space-between; }

  .container-whole-info {
    width: 100%; }

  .email-icon {
    margin-top: 5px; } }

/*# sourceMappingURL=styles.css.map */
