.top-header {
    height: 30px;
    width: 100%;

    background-color: $topHeader-color;
    
    position: fixed;
    
    box-shadow: 0px 3px 10px #919191;
}

.container-topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: inherit;

    color: #ffffff;

    label {
        display: flex;
        align-items: center;
        margin-right: 5px;

        .mobile-button-icon {
            padding: 4px;
            height: 22px;
        }
    }

    label:hover {
        cursor: pointer;
    }

    .container-whole-info {
        display: flex;
        align-items: center;

        .container-info {
            display: flex;
            align-items: center;

            .phone {
                .phone-info {
                    display: inline-block;

                    font-size: 75%;
                }
            }

            .email {
                display: flex;

                .email-icon:link, .email-icon:visited {
                    color: #ffffff;

                    margin-top: 1px;
                }

                .email-info:link, .email-info:visited {
                    color: #ffffff;

                    margin-top: 2px;

                    font-size: 78%;
                }
            }
        }

        .container-icons {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .fb, .tw, .ig {
                color: #ffffff;
            }
        }
    }
}
